.article-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: blue;
}

.error-message-container, .no-articles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: 'Arial', sans-serif;
}

.error-message, .no-articles-message {
  padding: 20px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 18px;
  max-width: 80%;
}

