.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 45px;
  margin: 2vh 5vw;
  cursor: pointer;
}

.search-bar {
  width: 40vw;
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 8px;
  padding-left: 1vw;
  margin-right: 5vw;
  font-family: inherit;
}

.link {
  text-decoration: none;
  color: black;
}