.card-container {
  width: 25vmax;
  height: 25vmax;
  margin: 2vmax;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e5e5;
  box-shadow: 5px 5px 11px #6D6D6D;
}

.thumbnail:hover {
  cursor: pointer;
  scale: 1.1;
  box-shadow: 8px 8px 11px #6D6D6D;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  width: 20vmax;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}

.article-img {
  width: 20vmax;
  height: 12vmax;
}